# Python
__pycache__/
*.pyc
*.pyo

# Backend
backend/venv/
backend/db.sqlite3

# Django
*.log
.env

# Flutter
frontend/build/
frontend/.dart_tool/

# IDE
.vscode/
.idea/

#Environment
.env
*.env

#Python virtual environment
venv/
backend/venv/

#macOS
.DS_Store

#Flutter
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies